@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  width: 984px;
  margin: auto;
  padding-top: 58px;
}

@media screen and (max-width:1024px) {
  .lead {
    width: 928px;
    padding-top: 50px;
  }
}

@media screen and (max-width:768px) {
  .lead {
    width: 100%;
  }
}
