.cover__subtitle {
  width: 320px;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  text-align: center;
  padding-top: 32px;
}

@media screen and (max-width:767px) {
  .cover__subtitle {
    padding: 16px 16px 0 16px;
    width: auto;
    font-size: 14px;
    line-height: 1.14;
  }
}
