@import url(./__logo/header__logo.css);
@import url(./__nav/header__nav.css);
@import url(./__list/header__list.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/header__lang-link_active.css);

.header {
    display: flex;
    justify-content: space-between;
    width: 984px;
    height: 44px;
    margin: auto;
    padding-top: 34px;
  }
