@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__span-accent/intro__span-accent.css);

.intro {
  width: 690px;
  height: 568px;
  padding-top: 92px;
  margin-left: 148px;
}
