@import url(./__link/cover__link.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  width: 1184px;
  height: 740px;
  margin: auto;
  margin-top: 92px;
  background-image: url("../../images/cover-route-66.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
  .cover {
    width: 100%;
    height: calc(100vw / 1.6);
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .cover {
    width: 100%;
    height: calc(100vw / 1.6);
    margin-top: 88px;
  }
}

@media screen  and (max-width:767px) {
  .cover {
    width: 100%;
    height: calc(100vw / 1.6);
    margin-top: 64px;
  }
}
