.cover__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  margin: auto;
  padding-top: 283px;
}

@media screen and (max-width:1024px) {
  .cover__title {
    padding-top: 233px;
  }
}

@media screen and (max-width:768px) {
  .cover__title {
    padding-top: 153px;
  }
}

@media screen and (max-width:320px) {
  .cover__title {
    padding-top: 51px;
    font-size: 32px;
    line-height: 1.09;
  }
}
