.place__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  padding-bottom: 12px;
}

@media screen and (max-width:1023px) {
  .place__url-heading {
    line-height: 1;
  }
}
