.place__item {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}

.place__item:last-of-type {
  justify-content: flex-start;
}

.place__item:nth-child(3) {
  justify-content: flex-start;
}

@media screen and (max-width:320px) {
  .place__item:nth-child(2) {
    display: none;
  }
}
